#map {
  height: 100%;
}
#background{
    background: -webkit-radial-gradient(center, ellipse cover, transparent 20%, #0e1626 60%, #0e1626 100%);
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    pointer-events: none;
}
#footer{
	position: fixed;
	bottom: 0%;
	left: 40%;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
